*
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #2b2b2b;
}

:root {
  --background: #B1D7FD;
}

.container
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    padding: 10px;
}

.linkedinpostcontainer
{
    width: 1200px;
    height: 500px;
    min-width: 100px;
    min-height: 100px;
    display: none;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    background:var(--background);
    overflow: hidden;

}

.fbpostcontainer
{
    width: 1072px;
    height: 603px;
    min-width: 100px;
    min-height: 100px;
    display: none;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    background:var(--background);

}

.twitterpostcontainer
{
    width: 1500px;
    height: 788.5px;
    min-width: 100px;
    min-height: 100px;
    display: none;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    background: var(--background);

}

.instapostcontainer
{
    width: 562.5px;
    height: 1000px;
    min-width: 100px;
    min-height: 100px;
    display: none;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    background: var(--background);

}

.linkedinpostcontainer .itemcontainer
{
    display: flex;
    margin-top: 0px;
    justify-content: space-around;
    align-items: center;
    /* height: 200px; */
    padding: 0px;
    overflow: hidden;
}

.linkedinpostcontainer .middlecont
{
    
    overflow: hidden;
}

.fbpostcontainer .middlecont
{
    
    overflow: hidden;
}

.linkedinpostcontainer .item
{
    overflow: hidden;
}

.linkedinpostcontainer .item img:hover
{
    width: 250px;
    min-width: 250px;
    max-width: 450px;
    transition-duration: 0.5s;
}

.linkedinpostcontainer .item img
{
    width: 200px;
    min-width: 200px;
    max-width: 400px;
    transition-duration: 0.5s;
    
}

.fbpostcontainer .item img:hover
{
    width: 250px;
    min-width: 250px;
    max-width: 450px;
    transition-duration: 0.5s;
}

.fbpostcontainer .item img
{
    width: 200px;
    min-width: 200px;
    max-width: 400px;
    transition-duration: 0.5s;
    
}

.fbpostcontainer .itemcontainer
{
    display: flex;
    margin-top: -80px;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    padding: 30px;
}

.twitterpostcontainer .itemcontainer
{
    display: flex;
    margin-top: -5px;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    padding: 30px;
}

.item
{
    margin: 20px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 0%;
    display: inline;
    max-height: 100%;
}

.linkedinpostcontainer .item
{
    margin: 20px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.048);
    border-radius: 30px;
    padding: 0%;
    display: inline;
    max-height: 100%;
}


.fbpostcontainer .item
{
    margin: 20px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.048);
    border-radius: 30px;
    padding: 0%;
    display: inline;
    max-height: 100%;
}


.item img:hover
{
    width: 700px;
    min-width: 200px;
    max-width: 450px;
    transition-duration: 0.5s;
}

.item img
{
    width: 600px;
    min-width: 200px;
    max-width: 400px;
    transition-duration: 0.5s;
    
}



.instapostcontainer .reactioncontainer
{
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    padding: 0px;
    width: 50%;
    /* padding-left: 120px;
    padding-right: 120px; */
    /* margin-left: 340px;
    margin-right: 340px; */
    /* background-color: #333333; */
}

.fbpostcontainer .reactioncontainer
{
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    padding: 0px;
    width: 50%;
    /* padding-left: 120px;
    padding-right: 120px; */
    /* margin-left: 340px;
    margin-right: 340px; */
    /* background-color: #333333; */
}


.reaction
{
    margin: 20px;
    border-radius: 30px;
    padding: 0%;
    display: inline;
    max-height: 80%;
    overflow: hidden;
}

.reaction img
{
    width: 3vw;
    min-width: 20px;
    max-width: 100px;
    transition-duration: 0.5s;
    
}


.bottombar img
{
    width: 100%;
}
.bottombar
{
    width: 95%;
    margin-bottom: 20px;
    display: block;
}

.instapostcontainer .bottombar
{
    width: 95%;
    margin-bottom: 0px;
}

.linkedinpostcontainer .bottombar
{
    width: 95%;
    margin-bottom: -40px;
    overflow: hidden;
}

.fbpostcontainer .bottombar
{
    width: 95%;
    margin-bottom: 20px;
    overflow: hidden;
}

.fbpostcontainer .bottombar img
{
    margin-bottom: 10px;
}

.linkedinpostcontainer .bottombar img
{
    width: 100%;
    margin-bottom: 50px;
}

.linkedinpostcontainer h1
{
    font-size: 35px;
    text-align: center;
}

.fbpostcontainer h1
{
    font-size: 65px;
    text-align: center;
}

.twitterpostcontainer h1
{
    font-size: 65px;
    text-align: center;
}

.instapostcontainer h1
{
    font-size: 45px;
    text-align: center;
}


.instapostcontainer .item
{
    margin: 20px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 0%;
    display: inline;
    max-height: 100%;
}

.instapostcontainer .item img:hover
{
    width: 300px;
    min-width: 200px;
    max-width: 450px;
    transition-duration: 0.5s;
}

.instapostcontainer .item img
{
    width: 250px;
    min-width: 200px;
    max-width: 400px;
    transition-duration: 0.5s;
    
}




.instapostcontainer .itemcontainer1
{
    display: flex;
    margin-top: -5px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 500px;
    padding: 30px;
}

.instapostcontainer .itemcontainer1 .item img:hover
{
    width: 270px;
    min-width: 200px;
    max-width: 450px;
    transition-duration: 0.5s;
}

.instapostcontainer .itemcontainer1 .item img
{
    width: 220px;
    min-width: 200px;
    max-width: 450px;
    transition-duration: 0.5s;
}

.instapostcontainer .itemcontainer2
{
    display: flex;
    margin-top: -5px;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    padding: 30px;
}

button
{
    padding: 30px;
    font-size: large;
    margin: 10px;
    text-decoration: none;
    outline: none;
    border-radius: 10px;
}

.buttoncontainer
{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

/* .container
{
    display: none;
} */

/* @media only screen and (width: 1920px) {
  .container {
    display: flex;
  }
} */
